/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

/* Logo styles */
.logo-container img {
    width: 90%;
    max-width: 800px; /* Optional desktop limit */
    height: auto;
    display: block;
    margin: auto;
}

/* Mobile view */
@media (max-width: 768px) {
    .logo-container img {
        width: 80%;
    }
}
